<div class="wrapper">
  <div class="profile">

    <section class="profile-content" id="content">
      <div class="profile-description">
        <p>A Q and A platform APP for secondary school students </p>
      </div>
      <div class="menu-category">
        <h3 class="menu-category-name">UNDER CONSTRUCTION, YOU CAN SEE SOURCE CODE <%=link_to 'HERE','https://github.com/luliu31415926/dongdong_android_app'%></h3>
      </div>
    </section>
  </div>
</div>
<footer class="footer">
  <nav class="footer-navigation">
    <p class="copyright">Great Scott!</p>
  </nav>
</footer>
