<h1>My Projects</h1>
<p>here will display a list of project links</p>
<section>
  <%= link_to(image_tag("book_skipgram_thumbnail.png",width:'300'), '/projects/visual_recommender') %>
  <article>
    <h2>
      <%= link_to('Visual Recommender', '/projects/visual_recommender')%>
    </h2>
    <p>here should be a description of the project</p>
  </article>
</section>