<h1>Listing My Projects</h1>
<p>here will display a list of project links</p>
<div class="projects-container">
  here will dynamically generate a list of projects with thumbnails and project description
  <% @projects.each do |project| %>
    <%= render partial: 'project', locals: {project: project}%>
  <% end %>
</div>
