// todo: fix this format, use partial
$('#neighbor-table').empty()
$('#neighbor-table').append(" \
      <table>\
      <h2>10 Most Similar Books:</h2>\
      <% @neighbors.each do |n| %>\
        <tr><td><%= n.title %></td></tr>\
      <% end %>\
      </table>")

gon.viewer.viewport.fitBounds(gon.viewer.viewport.imageToViewportRectangle(<%=@book.x%>-225,<%=@book.y%>-300,600,800), true);

