
<h1><%= @project.title %></h1>

<p> <%= @project.description %> </p>







<div id="openseadragon-viewer" style="width: 800px; height: 600px;"></div>

<%= javascript_include_tag('visual_recommender') %>
