
<script>
    $( document ).ready(function() {
        var viewer = OpenSeadragon({
            id: "openseadragon-viewer",
            prefixUrl: "/assets/openseadragon-icon/",
            tileSources: "/assets/book_recommendation_skipgram.dzi",
            showNavigator: true
        });
        viewer.addHandler('open', function () {
            if (gon.zoom_center !== -1) {
                imagex=gon.zoom_center[0];
                imagey=gon.zoom_center[1];
                viewer.viewport.fitBounds(viewer.viewport.imageToViewportRectangle(imagex-225,imagey-300,600,800), true);
            }
        });

        $("input[id='books-search-txt']").autocomplete({
            source: '/projects/visual_recommender_book_search'
        });
    })
</script>


<h1>Visual Recommender</h1>

<p> This is project description</p>

<%= form_tag "/projects/visual_recommender", method: "get"  do %>
    <label for="books-search-txt">Pick a book: </label>
    <%= text_field_tag 'books-search-txt' %>
    <%= submit_tag 'Go!' %>
<% end %>


<% if @book %>
    <table class="nearest-neighbors">
      <caption>10 Most Similar Books:</caption>
      <% @neighbors.each do |n| %>
          <tr><td><%= n.title %></td></tr>
      <% end %>
    </table>
<% end %>

<div id="openseadragon-viewer" style="width: 600px; height: 800px;"></div>
